body{
  color: #444;
  font-size: 14px;
}

.rating-sec{
	padding: 35px;
	background: #f2f2e8;
	border-top: 2px solid #eee;
}

.header{
	background: #78297b;
	width: 100%;
	height: 70px;
}
.logo{

}
.logo img{
	width: 120px;
	height: 60px;
	margin-top: 5px;
}

.menu{
	float: right;
}
.menu ul
{
	list-style:none;
}
.menu ul li
{
	float:left;
	list-style:none;
}
.menu ul li a
{
	padding: 24px 10px;
	text-align:center;
	color:#ddd;
	text-decoration:none;
	font-size:16px;
	display:block;
}
.menu ul li a:hover{
	color: #fff;
}

.box{
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	padding: 10px;
	background: #f2f2e8;
}
.box1{
	border: 1px solid#E8E8E8;
	border-radius: 5px;
	padding: 10px;
}

.box2{
	border:1px solid #E8E8E8;
	border-radius: 5px;
	padding: 10px;
	background: #fff;
}

.overview strong{
	font-size: 22px;
}
.review h4{
	color: #ce0b10;
	font-size: 18px;
}
.review strong{
	font-size: 16px;
}
.overview a{
	text-decoration: underline;
	color: #ce0b10;
}
.overview a:hover{
	text-decoration: none;
	color: #ce0b10;
}
.account strong{
	font-size: 20px;
	font: bold;
}
.reorder{
	padding: 15px;
}
.reorder tr.bor{
	border-bottom: 1px solid #ccc;
}
.reorder tr td:first-child{
	text-align: left;
}

.reorder tr td{
	padding: 5px;
	text-align: right;
}
.rate tr td{
	padding: 5px;
}
.account a {
    color: #ce0b10;
    text-decoration: underline;
}
.account a:hover {
    color: #ce0b10;
    text-decoration: none;
}
.re-box{
	margin-bottom: 10px;
}
.footer{
	height: 30px;
	background: #78297b;
	width: 100%;
}
.footer p{
	padding-top: 3px;
	color: #fff;
}
.rate{
	padding: 15px;
}
.rate h3{
	padding: 5px 0px;
	margin: 0px;
	font-weight: 600;

}
.rate .fa{
	font-size: 22px;
	color: #ccc;
}
.rate input{
	height: 40px;
	background: #E8E8E8;
	width: 100%;
	border-radius: 3px;
	font-size: 25px;
	border: 0px;
} 
.rate textarea{
	height: 80px;
	width: 100%;
	border-radius: 3px;
	font-size: 16px;
	border: 1px solid #ccc;
}
thead td{
	font-weight: bold;
}
td{
	text-align: left;
}
h4{
	color: #FF0000;
}
h3{
	color: #FF0000;
}
.home strong{
	font-size: 40px;
	color: #FF0000;
	font-weight: 600;
}
