@media all and (min-width: 1400px) {
	.history .left-img {
		position: static;
	}
	.history .left-img img {
		width: 96%;
		height: 958px;
	}
}
@media all and (max-width: 1366px) {
	.navbar {
		top: 20px;
	}
}
@media all and (min-width: 1024px) and (max-width: 1366px) {
	.history .left-img {
		top: 70px;
	}
	.ingredient .right-img img {
		width: 520px;
	}
	.ingredient .item {
		top: 135px;
		left: -45px;
	}
	.ingredient .item.two {
		top: 245px;
		left: -16px;
	}
	.ingredient .item.three {
		top: 395px;
		left: -115px;
	}
	.ingredient .item.four {
		top: 538px;
		left: -54px;
	}
}
@media all and (min-width: 992px) and (max-width: 1024px) {
	.navbar-nav {
		margin-left: 20px;
	}
	.navbar-nav.navbar-right {
		margin-right: 50px;
	}
}

@media all and (max-width: 992px) {
  
	.res-sm-mrg-t-50 {
		margin-top: 50px;
	}
	.padd-tb-250 {
		padding: 100px 0;
	}
	.order-list.border {
		border: 0;
	}
	.res-md-mrg-b-50 {
		margin-bottom: 50px;
	}
	.padd-75x155 {
		padding: 75px 0 75px 0;
	}

}
@media all and (max-width: 768px) { 
	.page-title {
		padding: 150px 0 120px 0;
	}
	.res-mrg-b-20 {
		margin-bottom: 20px;
	}
	.contact-info {
		text-align: center;
	}
	.contact-form .text-right {
		text-align: center;
	}
	.font-small {
		text-align: center;
	}
	.history .left-img {
		display: none;
	}
	.navbar-nav.navbar-right {
		margin-right: 0;
	}
  /****** INGREDIENT ******/
	.ingredient .item {
		top: 180px;
		left: 20px;
	}
	.ingredient .item.two {
		top: 307px;
		left: 20px;
	}
	.ingredient .item.three {
		top: 523px;
		left: 20px;
	}
	.ingredient .item.four {
		top: 673px;
		left: 20px;
	}
	.product-single {
		margin-bottom: 50px;
	}
	.product-single .post-desk h5 a {
		margin-bottom: 15px;
	}
	.slider-img-hide {
		display: none;
	}
	.team-slider .section-header {
		position: absolute;
		top: 114px;
		right: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#testimonial-carousel .owl-controls {
		position: absolute;
		left: 15px;
		right: 15px;
		top: 85px;
	}
	#testimonial-carousel .item p {
		width: 80%;
		margin: 20px auto;
	}
	.padd-160x100 {
		padding: 80px 0 60px 0;
	}
	.contact-info li {
		margin-bottom: 35px;
	}
	.padd-tb-120 {
		padding: 80px 0;
	}

	.tp-thumbs {
		position: absolute !important;
		left: 20% !important;
	}

}
@media all and (max-width: 767px) {
	.recipe .product-icon {
		margin: 8px;
	}
	.post-single .post-meta {
		text-align: center;
	}
	.post-meta .post-info span {
		font-size: 11px;
		font-family: 'Merriweather', serif;
		margin-right: 10px;
	}
	.post-meta .post-info .space {
		display: none;
	}
	.slider-subtitle br {
		display: none;
	}
	.post-meta .post-info .read-more {
		float: none;
		text-transform: uppercase;
		color: #e6a84c;
		display: block;
		text-align: center;
		margin-top: 20px;
	}
	.share span {
		display: inline-block;
		margin-top: 15px;
	}
	.media-left, .media > .pull-left {
		padding-right: 0;
	}
	.comment-area .media-body {
		position: relative;
		padding-left: 10px;
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.follow {
		text-align: center;
	}
	.secondary-footer p {
		text-align: center;
	}
	.res-xs-mrg-b-50 {
		margin-bottom: 50px;
	}
	.text-half {
		width: 100%;
	}
	.fun-factor {
		text-align: center;
		margin-bottom: 20px;
	}
	.fun-factor h5 {
		margin: 15px 0 30px 0;
	}
	.recipe .item,
	.recipe .item .text-right {
		text-align: center;
	}
	.res-xs-mrg-b-20 {
		margin-bottom: 20px;
	}
	.section-header::after {
		content: url('../images/title-shape.png');
		position: absolute;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		top: 120px;
		z-index: 1;
	}
	.order-list li {
		font-size: 18px;
		font-family: 'Merriweather', serif;
		font-weight: 300;
		line-height: 36px;
	}
	.order-list li h5 {
		font-family: 'Merriweather', serif;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.order-list .mrg-t-40 {
		margin-top: 20px;
	}

	.padd-180x220 {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.history .section-header {
		margin-top: 60px;
	}
	.padd-tb-150 {
		padding: 50px 0 100px;
	}
	.padd-50x90 {
		padding: 50px 0 60px 0;
	}
	.padd-80x90 {
		padding: 50px 0 60px 0;
	}
	.padd-tb-80 {
		padding: 50px 0;
	}
	.section-header h3 {
		margin-top: 10px !important;
	}
	.order .section-header {
		margin-bottom: 100px !important;
	}
	.tp-thumbs {
		display: none;
	}
	.history .section-header::after {
		top: 120px;
	}

}

@media all and (max-width: 480px) {
	.comment-area .media-body .replay {
		position: static;
		font-family: 'Merriweather', serif;
		font-size: 12px;
		padding-bottom: 0;
	}
	.ingredient .item .bar {
		display: inline-block;
		width: 190px;
		height: 1px;
		background: #e6a84c;
		position: absolute;
		top: 5px;
		right: -250px;
		margin-right: 50px;
	}
	.ingredient .item > span {
		font-size: 24px;
		color: #E6A84C;
	}
	.ingredient .item > span > span {
		color: #E6A84C;
	}
	.ingredient .item {
		top: 180px;
		left: 15px;
	}
	.ingredient .item.two {
		top: 320px;
		left: 15px;
	}
	.ingredient .item.three {
		top: 487px;
		left: 15px;
	}
	.ingredient .item.four {
		top: 655px;
		left: 15px;
	}
	.page-title h1 {
		font-size: 48px;
	}
	.navbar-toggle {
		margin-right: 20px;
	}
	.section-header .title {
		font-size: 80px;
	}
	.section-header .title span {
		font-size: 36px;
	}
	.section-header h3 {
		font-family: 'Montserrat', sans-serif;
		display: block;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 0;
	}
	#testimonial-carousel .item span::before {
		content: none;
	}
	#testimonial-carousel .owl-controls {
		position: absolute;
		left: 10px;
		right: 10px;
		top: 72px;
	}
	#testimonial-carousel .item img {
		margin: 0 5px;
		width: 40%;
		height: auto;
	}
	.ingredient .right-img img {
		max-height: 850px;
	}
	.persephone.tp-bullets {
		top: 108% !important;
	}
	.tp-rightarrow {
		left: 107% !important;
	}
	.tp-leftarrow {
		left: -7% !important;
	}
	.tp-thumbs {
		display: none;
	}
	.team-slider .tparrows {
		display: block;
	}
	.team-slider .section-header {
		top: 90px;
	}
	.product .section-header::after {
		top: 112px;
	}
	.story .section-header::after {
		top: 115px;
	}
	.recipe .section-header::after {
		top: 108px;
	}
	.history .section-header::after {
		top: 100px;
	}
}

@media all and (max-width: 412px) {
	#testimonial-carousel .owl-controls {
		position: absolute;
		left: 10px;
		right: 10px;
		top: 60px;
	}
}
@media all and (max-width: 360px) {
	.history .right-img {
		text-align: right;
		margin-left: -80px;
	}
	.ingredient .item .bar {
		display: inline-block;
		width: 100px;
		height: 1px;
		background: #e6a84c;
		position: absolute;
		top: 5px;
		right: -155px;
		margin-right: 50px;
	}
	.recipe {
		position: relative;
		padding: 60px 50px;
		background: #ffffff;
		z-index: 5;
	}
	#testimonial-carousel .owl-controls {
		position: absolute;
		left: 5px;
		right: 5px;
		top: 50px;
	}
} 


@media all and (max-width: 320px) { 
	.post-meta .post-info span {
		display: none;
	}

	.comment-area .media-body {
		padding-left: 5px;
	}
	.subscribe {
		padding: 0 5px;
	}
	.subscribe .input-group-addon,
	.subscribe .form-control {
		font-family: 'Merriweather', serif;
		font-size: 10px;
	}
	#testimonial-carousel .owl-controls {
		position: absolute;
		left: 5px;
		right: 5px;
		top: 41px;
	}
}



@media screen and (max-width: 991px) {
	.history .section-header {
		margin-bottom: 100px;
	}
}

@media all and (min-width: 992px) and (max-width: 1024px) {

	.story .section-header + p {
		margin-bottom: 50px;
	}
}



@media all and (min-width: 1400px) and (max-width: 1920px) {
	.history .section-header {
		padding-top: 120px !important;
	}
	.history .section-header::after {
		top: 280px !important;
	}
	.ingredient .item {
		position: absolute;
		top: 175px;
		left: 116px;
		font-size: 30px;
		font-weight: 300;
		color: #e6a84c;
	}
	.ingredient .item.two {
		top: 307px;
		left: 225px;
	}
	.ingredient .item.three {
		top: 500px;
		left: 64px;
	}
	.ingredient .item.four {
		top: 700px;
		left: 165px;
	}
}



/**** NAVBAR START HERE ****/
@media all and (min-width: 991px) {

  .navbar-nav li > a:hover {
    color: #3f56b4;
  }
  .navbar-nav li:hover > ul {
    visibility: visible;
    overflow: visible;
    opacity: 1;
    margin-top: 0;
  }
  .navbar-nav > li {
    font-size: 12px;
    font-weight: 500;
    position: relative;
  }
  
  .navbar-nav > li a {
    color: #401818;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
  }
  .navbar-nav > li a:hover,
  .navbar-nav > li a:focus {
    background: none;
    color: #e6a84c;
  }
  .navbar-nav > li ul {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    z-index: 10;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.07), -2px 2px 5px 0 rgba(0, 0, 0, 0.07);
    padding: 0;
    margin: 0;
    margin-top: -15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 3px;
  }
  .navbar-nav > li ul li {
    white-space: nowrap;
    border-bottom: 1px solid #f7f7f7;
    min-width: 170px;
    position: relative;
    list-style-type: none;
  }
  .navbar-nav > li ul li a {
    padding: 18px 20px;
  }
  .navbar-nav > li ul li ul {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    left: 100%;
    top: 0;
  }



}
/*** NAVBAR COLLAPSE ***/

@media (max-width: 991px) {
	.navbar {
		position: relative;
		background-image: none;
		background-color: #ffffff;
		min-height: 80px;
		border-radius: 0;
	}
	.navbar-brand {
		position: relative;
		float: left;
		top: 0;
	}
	.navbar-collapse {
		margin-top: 30px;
	}
	.navbar-nav {
		margin: 0;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav li a {
    	font-size: 16px;
    	line-height: 20px;
    }
    .navbar-nav > li ul {
    	margin-left: 50px;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }


    .navbar-fixed-top .navbar-collapse {
	    max-height: 100%;
	}
}