/*--------------------------------------------------------------------------

	Project Name: Unaca - One Page Parallax Template
	Project Description: A One Page Parallax Template made exclusively for ThemeForest market
	File Name: style.css
	Author: Tegthemes
	Demo URL: http://tegthemes.com/Unaca
	Version: 1.0.0

--------------------------------------------------------------------------*/

.cp-bg-blue{
	background-color:#29B5C0;
}

.cp-bg-green{
	background-color:#68C3A3;
}

.cp-bg-red{
	background-color:#eb5d68;
}

.cp-bg-orange{
	background-color:#F7C06F;
}

.cp-bg-dark{
	background-color:#666;
}

.cp-bg-gray{
	background-color:#999;
}

.cp-menu-bg-dark{
	background-color:#333;
}
