/* Medium Layout: 1280px. */
@media only screen and (min-width: 801px) and (max-width: 1200px) { 
  /* Top Header Area */
	.navbar-header {
		float: none;
		text-align: center;
	}
	.navbar-toggle {
        display: inline-block;
        float: none;
		margin: 25px auto 0px auto;
		border: 0px;
		text-align: center;
    } 
    .navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover {
		background: transparent;
	}
    .navbar-collapse.collapse {
        display: none!important;
        border: 0px;
		background: #265b2f;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
        border-top: 0px;
        padding-top: 0px;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-default .navbar-nav li {
		display: block;
		text-align: left;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a {
		color: #fff;
		background: transparent;
	}

	/* Sidebar Area */
	.sidebar-area {
		max-width: 414px;
		margin: auto;
	}

	/* Footer Social Icons */
	.footer-social li a {
		font-size: 1.30rem;
	}

    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 800px) { 

	
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
	/* Top Header Area */
	.navbar-header {
		text-align: center;
	}
	.navbar-toggle {
		float: none;
		border: 0px;
	}
	.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover {
		background: transparent;
	}
	.navbar-collapse {
		width: 150%;
		margin-left: -25%;
		border: 0px;
		background: #265b2f;
	}
	.navbar-default .navbar-nav li {
		display: block;
		text-align: left;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a {
		color: #eee;
		background: transparent;
	}
	.navbar-default .navbar-nav .open .dropdown-menu >  a:hover {
		color: #eee !important;
	}
	/* Main Header Area */
	.main-header-area {
	}
	.fixed-header {
    position: fixed;
    z-index: 1000;
    animation: slideMenu 2s linear;
    top: 0px;
    width: 76%;
	}
	/* Carousel Area */
	.hero-slider .item .item-caption {
		width: 80%;
		min-height: 100px;
		bottom: 0px;
		padding: 20px;
	}
	.hero-slider .item .item-caption .title {
		font-size: 1rem;
	}
	.hero-slider .item .item-caption h2 {
		line-height: 1.85rem;
	}
	.hero-slider .owl-nav .owl-prev {
		margin-left: -10px;
	}
	.hero-slider .owl-nav .owl-next {
		margin-right: -10px;
	}

	/* Post Article Area */
	.post-footer .post-share,
	.page-article-footer .post-share {
		border: 0px;
		border-top: 1px solid #dbdbdb;
		border-bottom: 1px solid #dbdbdb;
	}
	.post-header {
		height: auto;
	}

	/* List Post layout */
	.list-post-item .post-left {
		width: 100%;
		margin-bottom: 30px;
	}
	.list-post-item .post-right {
		width: 100%;
		padding: 0px;
	}

	/* Footer Social Area */
	.footer-social li {
		padding: 10px 0px;
		text-align: left;
	}

	/* Copyright Area */
	.copyright-left,
	.copyright-right {
		text-align: center;
	}

	/* Single Page */
	.author-image {
		width: 80px;
		height: 80px;
	}
	.author-bio {
		padding-left: 100px;
	}
	.author-bio p {
		font-size: 0.92rem;
		line-height: 1.71rem;
	}
	.alignright,
	.alignleft {
		float: none;
		margin: 15px auto;
	}
	a.fancybox {
	width: 22.65% !important;
	display: inline-block;
	margin: 1%;
	border: 1px solid #eee;
	}
	.fancybox img{
		width: 100%;
	}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 481px) and (max-width: 767px) { 
	
	.fixed-header {
    position: fixed;
    z-index: 1000;
    animation: slideMenu 2s linear;
    top: 0px;
    width: 76%;
	}
	a.fancybox {
	width: 30.60% !important;
	display: inline-block;
	margin: 1%;
	border: 1px solid #eee;
	}
	.fancybox img{
		width: 100%;
	}
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 240px) and (max-width: 480px) { 
	.fixed-header {
    position: fixed;
    z-index: 1000;
    animation: slideMenu 2s linear;
    top: 0px;
    width: 73.3%;
}
	a.fancybox {
	width: 47% !important;
	display: inline-block;
	margin: 1%;
	border: 1px solid #eee;
	}
	.fancybox img{
		width: 100%;
	}
}