/*
* Flexslider Direction Nav
* 
* @package WP WP Provisions
* @subpackage CSS
*/

.flex-direction-nav {*height: 0; position: absolute; bottom: 15px; right: 15px; z-index: 10;}
		.home .flex-direction-nav,
		#page .flex-direction-nav {*height: 0; position: relative; top: -55px; bottom: 0; right: 0; z-index: 10; text-align: center;}

	.flex-direction-nav li { display: inline-block;}

		.flex-direction-nav a { padding: 8px 14px; text-align: center; line-height: normal; display: inline-block; background: #18191b; color: #fff; cursor: pointer; opacity: 1;}
			.flex-direction-nav a:hover { background: #2ea9ef;}

				.flex-direction-nav .flex-prev { left: 0; margin: 0 2px 0 0; border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
				.flex-direction-nav .flex-next { right: 0; border-top-right-radius: 5px; border-bottom-right-radius: 5px;}

								.home .flex-direction-nav a,
								#page .flex-direction-nav a { background: #fff; color: rgba(109,104,110,0.9);}
									.home .flex-direction-nav a:hover,
									#page .flex-direction-nav a:hover { color: #000;}

					.flex-direction-nav .flex-prev { font-size: 0;}
						.flex-direction-nav .flex-prev:before { font-family: "FontAwesome"; font-size: 16px; content: "\f104";}

					.flex-direction-nav .flex-next { font-size: 0;}
						.flex-direction-nav .flex-next:before { font-family: "FontAwesome"; font-size: 16px; content: "\f105";}