/**STYLE DRILLMENU**/
.one-drillmenu {
    float: left !important;
    margin-left: 0 !important;
    width: 100% !important;
}
.nav-accordion { width: 100%; }
ul.nav-accordion {
    line-height: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.nav-accordion li {
    position: relative;
	border-top:1px solid #e4e6e7;
}
ul.nav-accordion.nav-mobile-accordion li {border: none ;}
ul.nav-accordion li.first {
	border-top:none ;
}
ul.nav-accordion li.level0:hover  ,ul.nav-accordion li.active { }
ul.nav-accordion li.active:hover a { background-color: transparent;}
ul.nav-accordion li a {
    display: block;
    font-size: 100%;
    line-height: 45px;
    margin: 0;
    padding: 0 ;font-weight: 500; letter-spacing: 0.3px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: capitalize;
	color:#5c5c5c;
	outline: medium none;
    -webkit-transition: all 0.2s ease 0s;-moz-transition: all 0.2s ease 0s;-ms-transition: all 0.2s ease 0s;-o-transition: all 0.2s ease 0s;transition: all 0.2s ease 0s;
}
ul.nav-accordion li.active  a{
     color:#f46467;
}
ul.nav-accordion li.active a {
}
ul.nav-accordion li.active ul li a , ul.nav-accordion li.active ul li.active li a  { background-color: transparent ;}
ul.nav-accordion li a:hover ,
ul.nav-accordion li.active ul li a:hover ,
ul.nav-accordion li.active ul li.active a ,
ul.nav-accordion li.active ul li.active li a:hover  ,
ul.nav-accordion li.active ul li.active li.activer a {
    color:#f46467;
}
ul.nav-accordion li.active ul li a{
     padding: 0 0 0 15px;
	 color:#000;
}
ul.nav-accordion li.active ul li a:hover {

    color: #CB2822;

}
ul.nav-accordion li.active ul li.active a {

    color: #CB2822;

}
ul.nav-accordion li.active ul li.active li a { color: #000;}
ul.nav-accordion li.active ul li.active li a:hover { color: #CB2822;}
ul.nav-accordion li.active ul li.active li.activer a{ color: #CB2822;}
ul.nav-accordion ul {
    display: none;
    margin: 0;
    padding: 0;
}
ul.nav-accordion ul li {
    clear: both;
    margin: 0;
    padding: 0;
}
ul.nav-accordion ul li a {
    font-size: 100%;
    outline: none;font-weight: 500; letter-spacing: 0.3px;
    padding-left: 15px;
     text-transform: uppercase;
}
ul.nav-accordion ul li.active { font-weight: bold; }
ul.nav-accordion ul ul li a {
    font-size: 14px;
    margin-left: 10px;
}
ul.nav-accordion ul ul ul li a { margin-left: 20px; }
ul.nav-accordion ul ul li a:hover {  }

ul.nav-accordion li span.expand {
    background-color:transparent;
    background-position: 0 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 35px;
    right: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 15px;
    z-index: 1;
}
ul.nav-accordion li span.collapse {
    background-color:transparent;
    background-position: 0 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 35px;
    right: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 15px;
    z-index: 1;
}
ul.detail-parent {
    margin: 0px;
    padding: 0 0 0 17px;
}
.navbar .btn-navbar {
    background-image: none !important;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none !important;
    float: left !important;
    margin: 9px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.navbar .brand {
    font-size: 130% !important;
    font-weight: bold !important;
    margin: 0 !important;
    padding-left: 20px !important;
    text-shadow: none !important;
    text-transform: uppercase !important;
}
.navbar .btn-navbar .icon-bar { background-color: #FFFFFF !important; }
ul.nav-accordion li.level0 > a > span > .cat-label {
    position: inherit;
}
ul.nav-accordion li.level0 > a > span > .pin-bottom:before {
    position: inherit;
    right: 6px;
    top: 22px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 0px;
}
ul.nav-accordion li span.expand {
    background-image: url(../images/accordion/arrow2.png);
}
ul.nav-accordion li span.collapse {
    background-image: url(../images/accordion/arrow12.png);
}
/**END STYLE DRILLMENU**/
/*Sidebar Menu one-effect-slide one-menu-open*/
.one-container {
    position: relative;
    overflow: hidden;
}
.one-wrapper {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}
.one-wrapper::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.one-menu-open .one-wrapper::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.one-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 250px;
    height: 100%;
    background: #2d2d2d;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    overflow: auto;
}
.one-menu a {
     border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	color: #FFFFFF;
}
.one-menu li li a {
    background-color: #3F3F3F;
}
.one-menu ul.nav-accordion li {
    padding-left: 15px;
}

.one-menu .one-menu-active{
  display:block;
  overflow:hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
   padding: 0 15px;
   background: none repeat scroll 0 0 #1F1F1F;
}
.one-menu ul.nav-accordion li ul li a{width:100%;}
.one-menu .one-menu-title {
	float:left;
}
.one-menu .one-menu-title h3 {
    color: #fff;
	margin: 12px 0;
    padding: 0px;
	text-transform: uppercase;
	font-size:14px;
}
.one-menu .one-menu-active {cursor: pointer;margin-left: 15px;}
.one-menu .one-menu-active .navbar-toggle{
    width:100%;
	padding:0;
	margin: 0;
	line-height:18px;
}

.one-menu .navbar-header .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
    height: 3px;
}
.navbar .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #474646;
}
.one-menu .navbar-header {
    margin: 12px 0;
	text-align: left;
}
.navbar .navbar-toggle:hover {
    background-color: inherit;
}
.title-canvas{
   color: #FFFFFF;
    font-size: 14px;
    margin-left: 9px;
    text-transform: uppercase;
}
.one-menu-active .one-close-canvas{
     background: url("../images/close-canvas-menu.png") no-repeat scroll 0 0 transparent;
	  border: medium none;
    float: right;
    height: 16px;
    width: 17px;
}
.one-menu ul.nav-accordion li a {
    padding-left: 0px;
	color: #FFFFFF;
	font-size: 14px;
	 margin: 0;
}
.one-menu a:hover {
    background-color: #3F3F3F;
    color: #FFFFFF;
}
.one-menu ul.nav-accordion li span.expand {
    background-image: url("../images/opener-active-canvas.png");
}
.one-menu ul.nav-accordion li span.expand{
     background-position: 0 0;
}
.one-menu ul.nav-accordion li span.collapse{
     background-image: url("../images/opener-canvas.png");
}
.one-menu ul.nav-accordion li span.collapse{background-position: 0 0;}

.one-menu ul.nav-accordion li span.collapse,
.one-menu ul.nav-accordion li span.expand{
     height: 30px;
	 right: 10px !important;
	 top: 2px;
     width: 30px;
}
.navbar-inverse{ background-color: inherit; border-color:none !important;}
.one-menu-open .one-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
/* Effect:Slide along */
.one-effect-slide.one-menu-open .one-wrapper {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.one-effect-slide.one-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -o-transition: translate3d(-100%, 0, 0);
}

.one-effect-slide.one-menu-open .one-effect-slide.one-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -o-transition: translate3d(0, 0, 0);
}

.one-effect-slide.one-menu::after {
    display: none;
}
.one-effect-slide.one-menu-open .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    left: 250px;
    z-index: 9999;
}